/* General Styles */
body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 800px;
  margin-top: 50px !important;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Category Filter Styles */
.CategoryFilter {
  margin-bottom: 20px;
  text-align: center;
}

.CategoryFilter ul {
  list-style-type: none;
  padding: 0;
}

.CategoryFilter li {
  display: inline;
  margin-right: 10px;
}

.CategoryFilter a {
  text-decoration: none;
  color: #007bff;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.CategoryFilter a:hover {
  background-color: #007bff;
  color: #fff;
}

/* Task List Styles */
.TaskList {
  margin-top: 20px;
}

.TaskList h2 {
  color: #333;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
}

.TaskList ul {
  list-style-type: none;
  padding: 0;
}

.TaskList li {
  background-color: #f1f1f1;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

/* Task Form Styles */
.TaskForm {
  margin-top: 50px !important;
  max-width: 800px;

  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.TaskForm h2 {
  color: #333;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.TaskForm label {
  display: block;
  margin: 10px 0px;
  color: #333;
  font-weight: bold;
}

.TaskForm input,
.TaskForm select, option{
  width: calc(100% - 20px); /* Adjust for padding and border */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.TaskForm button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.TaskForm button:hover {
  background-color: #0056b3;
}
/* CategoryFilter Styles */
.CategoryFilter {
  margin-bottom: 20px;
}

.CategoryFilter h3 {
  color: #333;
  margin-bottom: 10px;
}

.CategoryFilter ul {
  list-style-type: none;
  padding: 0;
}

.CategoryFilter li {
  margin-bottom: 5px;
}

.CategoryFilter li a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
}

.CategoryFilter li a:hover {
  color: #01050a;
}